@media (max-width: 640px) {
  .header__inner{
    display: block;
    text-align: center;
  }

  .menu{
    margin-top: 50px;
    margin-right: 0;
  }

  .menu__list{
    justify-content: space-evenly;
  }

  .menu__item + .menu__item{
    padding-left: 0;
  }

  .menu__link{
    padding: 25px 20px;
  }
}

@media (max-width: 460px) {
  .menu__list{
    justify-content: space-between;
  }

  .menu__link{
    padding: 25px 0px;
  }
}

@media (max-width: 350px) {

  .menu__list{
    justify-content: space-evenly;
  }

  .menu__link{
    font-size: 12px;
  }
}