
.discribe{
  padding: 30px 0 120px;
}

.discribe__inner{
  display: flex;
}

.girl-image{
  margin-right: 60px;
  flex-basis: 570px;
  object-fit: cover;
}

.info-item{
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin: 0 0 10px;
}

.discribe__text{
  flex-basis: 490px;
}

.info-text{
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  max-width: 450px;
}

.discribe__item + .discribe__item{
  padding-top: 50px;
}

@import "adaptive/adiscribe";

